:root {
    --bg: #f5f5f5;
    --white: #ffffff;
    --light: #a1cfe8;
    --shallow: #e2e1e1;
    --shallow2: #c5c5c5;
    --dark: #060b17;
    --primary: #8a12e1;
    --secondary: #e05d6f;
    --info: #5174a7;
    --success: #09a565;
    --warning: #dfcd09;
    --danger: #ed2803;
}

/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: "阿里妈妈方圆体 VF Regular";
    src: url("vLeXEAhSpTXA.woff2") format("woff2"),
    url("vLeXEAhSpTXA.woff") format("woff");
    font-display: swap;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    color:var(--dark)
}
body {
    font: 15px "Microsoft YaHei", Arial, Helvetica, sans-serif;
    color: #000;
    background-color: var(--light);
}

::selection {
    background-color: var(--primary);
    color: var(--white);
}

.wp {
    width: 1200px;
    margin: 0 auto;
}

header {
    background: linear-gradient(to right, rgb(252, 230, 249), rgb(235 250 246), rgb(252 230 230));
    /*box-shadow: 1px 1px 0px rgb(255 ,182 ,245);*/
    overflow: hidden;
    width: 100%;
}

header .tophead {
    height: 30px;
    line-height: 30px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 1px 2px 0px #e4e0e0;
}

header .tophead .welcome {
    color: #4b4b4b;
    display: inline-block;
}
header .tophead .access {
    float: right;

}
header .tophead .access .login{
    text-decoration: none;
}
header .tophead .access .login:hover{
    color:var(--primary)
}
.logo {
    float: left;
    overflow: hidden;
    font-size: 30px;

    margin-top: 12px;
    margin-bottom: 12px;

}

.logo a {
    text-decoration: none;
    color: black;
    font-size: 33px;
    font-family: '阿里妈妈方圆体 VF Regular';
}

#topmenu {
    float: right;
    margin-top: 10px;
}

#topmenu .item {
    float: left;
    list-style: none;
    margin-left: 10px;
    height: 46px;
    padding: 10px 15px;
}

#topmenu .item a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

#topmenu .item:hover,
#topmenu .item.active {
    position: relative;
}

#topmenu .item:hover:after,
#topmenu .item.active:after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 5%;
    height: 4px;
    background-color: #505050;
    width: 90%;

}

#search {
    padding: 50px 0;
    background-color: white;

}

#search .search-warp {
    width: 50%;
    max-width: 650px;
    height: 45px;
    margin: 0 auto;
    display: flex;
}

#search .search-warp .text {
    flex: 1;
    border: 2px solid var(--shallow);
    outline: none;
    padding: 5px;
    font-size: 1.2rem;
    border-right: none;
}

#search .search-warp .text:focus {
    border-color: var(--primary);
}

#search .search-warp .button {
    width: 100px;
    letter-spacing: 2px;
    font-size: 20px;
    border-width: 0;
    background-color: var(--primary);
    color: white;
    cursor: pointer;
    user-select: none;
}

.container {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

main {
    flex: 1;
    margin-right: 15px;
}

aside {
    width: 320px;
}

aside .content-right > div {
    margin-bottom: 20px;
}

.widget {
    padding: 15px;
    background-color: var(--white);
    overflow: hidden;
}
.artList{
    overflow: hidden;
}
.artList .title {
    line-height: 55px;
    border-bottom: 1px solid var(--shallow2);
    background-color: var(--white);
    padding:10px;
}

.artList .newArticle {
    overflow: hidden;
}

.artList .newArticle .item {
    padding: 20px;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid var(--shallow);
    background-color: var(--white);
    margin-bottom: 20px;
}

.artList .newArticle .item:last-child {
    border-bottom-width: 0;
}

.artList .newArticle .item a {
    text-decoration: none;
    color: var(--dark)
}

.artList .newArticle .item h2:hover {
    color: var(--primary)
}

.artList .newArticle .item a i {
    width: 210px;
    height: 168px;
    float: left;
    display: block;
    margin-right: 20px;
    border-radius: 4px;
    overflow: hidden;
}

.artList .newArticle .item a i img {
    width: 100%;
    height: 100%;
}

.artList .newArticle .item a i img:hover {
    transform: scale(1.2);
    transition: .5s all;

}

.artList .newArticle .item a h2 {
    text-decoration: none;
    color: #000;
    line-height: 28px;
    margin: 10px 0;
}

.artList .newArticle .item p {
    -webkit-line-clamp: 2;
    display: -moz-box;
    display: -webkit-box;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    color: rgb(114, 114, 114);
    line-height: 26px;
}

.artList .newArticle .item .article-lists-detail {
    margin-top: 30px;
    line-height: 24px;
    color: #999;
}

.artList .newArticle .item .article-lists-detail > span {
    margin-right: 22px;
    float: left;
    display: block;
    font-size: 16px;
    padding-left: 20px;
}

.artList .newArticle .item .article-lists-detail > span .iconfont {
    color: var(--primary);
    font-size: 18px;
    margin-left: -20px;
    margin-right: 10px;
}

.artList .newArticle .item .article-lists-detail > span a {
    text-decoration: underline;
    color: var(--primary);
}

.artList .newArticle .item .article-lists-view {
    width: 100px;
    border-radius: 4px;
    background-color: var(--primary);
    line-height: 35px;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: block;
    text-align: center;
}

.site-author {
    background-color: white;
    margin-bottom: 20px;
}

.site-author .author-photo {
    padding-top: 20px;
}

.site-author .author-photo a {
    display: block;
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid #ddd;
}

.site-author .author-photo a img {
    width: 100px;
    height: 100px;
}

.site-author .author-name {
    text-align: center;
    margin-top: 15px;
    font-size: 18px;
    font-weight: bolder;
    color: rgb(44, 44, 44);
}

.site-author .author-desc {
    margin-top: 15px;
    margin: 15px 10px 0;
    padding: 6px;
    background-color: rgb(238, 238, 238);
    font-size: 12px;
    text-indent: 2rem;
    border-radius: 4px;
    line-height: 1.1rem;
}

.site-author .author-more {
    margin-top: 15px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-author .author-more .data-count {
    display: block;
    padding: 0 10px;
    border-right: 1px solid rgb(236, 234, 234);
}

.site-author .author-more .data-count dt {
    margin-bottom: 10px;
    color: rgb(133, 133, 133);
}

.site-author .author-more .data-count dd {
    font-weight: bolder;
    text-align: center;
}

.site-author .author-more .data-count:last-child {
    border-right: none;
}

/*最新文章*/
.widget .newarts {
    padding-left: 20px;
}

.widget .newarts li {
    list-style-type: decimal;
    padding-left: 10px;
}

.widget .newarts li a {
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgb(73, 73, 73);
    line-height: 35px;
    overflow: hidden;
    display: block;
}

.widget .newarts li a:hover {
    color: var(--primary);
}

.widget .tagcloud {
    padding-top: 20px;
}

.widget .tagcloud a {
    text-decoration: none;
    color: rgb(48, 44, 44);
    display: block;
    float: left;
    padding: 7px 12px;
    margin-right: 8px;
    margin-bottom: 15px;
    border-radius: 4px;
    /* border:1px solid #ddd; */
}

.widget .tagcloud a:nth-child(8n-1) {
    background-color: rgb(250, 244, 235);
}

.widget .tagcloud a:nth-child(8n-2) {
    background-color: rgb(236, 247, 250);
}

.widget .tagcloud a:nth-child(8n-3) {
    background-color: rgb(252, 229, 234);
}

.widget .tagcloud a:nth-child(8n-4) {
    background-color: rgb(252, 230, 249);
}

.widget .tagcloud a:nth-child(8n-5) {
    background-color: rgb(227, 232, 255);
}

.widget .tagcloud a:nth-child(8n-6) {
    background-color: rgb(229, 255, 254);
}

.widget .tagcloud a:nth-child(8n-7) {
    background-color: rgb(238, 255, 222);
}

.widget .tagcloud a:nth-child(8n) {
    background-color: rgb(222, 245, 255);
}

.widget .tagcloud a:hover {
    background-color: rgb(0, 80, 145);
    color: white;
}

footer{
    background-color: var(--white);
}
footer .ftnav{
    text-align: center;
    line-height: 45px;
    color:var(--dark);
    padding:20px 0;
    border-bottom: 1px solid var(--shallow);
}
footer .ftnav a{
    text-decoration: none;
    padding:0 20px;
    border-right:1px solid var(--shallow)
}
footer .ftnav a:hover{
    color:var(--primary)
}
footer .ft-desc{
    text-align: center;
    line-height: 35px;
    padding:20px 0;
}
footer .ft-desc .special{
    color:var(--danger)
}

.fix-evident{
    position: fixed;
    right: 30px;
    bottom: 100px;
}
.fix-evident .item{
    width: 45px;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.8);
    display: block;
    margin-bottom: 5px;
    border-radius: 4px;
    position: relative;
    border: 1px solid var(--shallow2);
}
.fix-evident .item a{
    display: block;
    line-height: 45px;
    text-align: center;
    color: rgb(48 ,44 ,44);
    text-decoration: none;
    cursor: pointer;
}

/*分页*/
.paging{

    padding:10px;
}
.paging .paging-warp{
    margin: 0 auto;
    overflow: hidden;
    display: inline-block;
    transform: translateX(-50%);
    left: 50%;
    position: relative;
}
.paging .paging-warp .total{
    display: inline-block;
    float: left;
    margin-right: 10px;
    line-height: 45px;
    font-weight: bold;
}
.paging .paging-warp  .list{
    float: left;
    overflow: hidden;
}
.paging .paging-warp  .list li{
    float: left;
    list-style: none;
    min-width: 45px;
    height: 45px;
    line-height: 45px;
    padding:0 20px;
    background-color: var(--white);
    margin-right: 10px;
    cursor: pointer;
    user-select: none;
}
.paging .paging-warp  .list li:hover{
    background-color: var(--primary);
    color:var(--white)
}